.btnCadastro {
    border-color: white !important;
    background-color: #F26B9C !important;
    color: white !important;
    margin-left: 4px !important;
}

.btnCancelar {
    border-color: white !important;
    background-color: #8CC2BD!important;
    color: white !important;
    margin-left: 4px !important;
}

.txtCadastro {
    color: #A6A6A6;
    font-weight: bold !important;
    text-align: center !important;
}

.transitionSize {
    transition: transform 0.5s;
}

.transitionSize:hover {
    transform: scale(1.1);
}

.bottom {
    bottom: 200px!important;
}

.altura {
    height: 125vh;
}