.btnCadastro {
    border-color: white !important;
    background-color: #F26B9C !important;
    color: white !important;
    margin-left: 4px !important;
}

.btnCancelar {
    border-color: white !important;
    background-color: #A6A6A6!important;
    color: white !important;
    margin-left: 4px !important;
}

.txtCadastro {
    color: #A6A6A6;
    font-weight: bold !important;
    text-align: center !important;
}