.textoLogin {
    color: #A6A6A6;
    font-weight: bold !important;
    text-align: center !important;
}

.txt {
    color: #F26B9C;
}

.txt:hover {
    color: #9CD9D3;
}

.botaoLogin {
    border-color: white !important;
    background-color: #F26B9C !important;
    color: white !important;
    margin-left: 4px !important;
}

.botaoLogin:hover {
    border-color: #000000 !important;
    background-color: #F26B9C !important;
    color: #fff !important;
    margin-left: 4px !important;
}