    .text-decorator-none {
        text-decoration: none;
        color: white;
    }
    
    #navegacao {
        background-color: #F26B9C !important;
    }
    
    .alinhamento {
        align-items: center;
    }
    
    .cursor {
        cursor: pointer;
    }
    
    .logo {
        border-radius: 50%;
        height: 40px;
    }