.logoSobre{
    width: 500px;
    height: 159px;
    justify-content: center;
    align-items: center !important;
}

.box-texto{
    padding-top: 85px;
    color: #505050!important;
    font-weight: bold !important;
    font-family: 'Source Sans Pro', sans-serif!important;
    
}

.box-fotos{
    height: 200px !important;
    width: 200px !important;
    border-radius: 200px !important;
    padding: 10px;
}

.iconeGithub{
    color: #F26B9C!important;
    font-size: 50px !important;
}

.iconeLinkedin{
    color: #F26B9C!important;
    font-size: 60px !important;
}

.box-icones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.espaco-letras{
    letter-spacing: 1px!important;
    text-align: justify;
}

